---
import HeaderLink from './HeaderLink.astro'
import Logo from './Logo.astro'
import MobileNav from './MobileNav.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'
import { NAVIGATION, SITE_METADATA } from '@/consts'

const headerLinkClassList = [
  'fill-black',
  'stroke-black',
  'text-black',
  'hover:fill-primary-600',
  'hover:stroke-primary-600',
  'hover:text-primary-600',
  'hover:duration-200',
  'dark:fill-white',
  'dark:stroke-white',
  'dark:text-white',
  'dark:hover:fill-primary-400',
  'dark:hover:stroke-primary-400',
  'dark:hover:text-primary-400',
  'dark:hover:duration-200',
]
---

<header class="flex items-center justify-between py-10">
  <div>
    <a href="/" aria-label={SITE_METADATA.headerTitle} class:list={headerLinkClassList}>
      <div class="flex items-center justify-between">
        <div class="mr-3">
          <Logo />
        </div>
        {
          typeof SITE_METADATA.headerTitle === 'string' ? (
            <div class="flex h-6 items-center space-x-4 text-2xl font-semibold leading-5 sm:block sm:space-x-6">
              {SITE_METADATA.headerTitle}
            </div>
          ) : (
            SITE_METADATA.headerTitle
          )
        }
      </div>
    </a>
  </div>
  <div class="flex items-center space-x-4 leading-5 sm:space-x-6">
    {
      NAVIGATION.filter((link) => link.href !== '/').map((link) => (
        <HeaderLink
          href={link.href}
          class="hidden font-medium text-gray-900 hover:text-primary-600 hover:duration-200  dark:text-gray-100 dark:hover:text-primary-400 sm:block"
        >
          {link.title}
        </HeaderLink>
      ))
    }

    <!--TODO: add theme button-->
    <!--<SearchButton />-->
    <ThemeSwitcher />
    <MobileNav />
  </div>
</header>
